@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0;
    height: 100vh;
    padding: 10px;
    border: 3px solid black;
    flex-direction: column;
}
#nav1{
    display: flex;
    width: 78%;
    height: 100%;
    border: 3px solid black;
    justify-content: space-around;
    align-items: center;
}
#nav2{
    display: flex;
    width: 20%;
    height: 100%;
    border: 3px solid black;
    font-family: "Nunito";
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#nawigacja{
    justify-content: space-between;
    height: 20%;
    width: 100%;
    display: flex;
}
#nav1 > #p0, #p1, #p2, #p3{
    width: 18%;
    height: 80%;
    background-color: #0B8673;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    font-family: "Nunito";
    font-size: 20px;
}
#nav1 > img{
    height: 100%;
    width: 12%;
}
#aside{
    height: 70%;
    width: 20%;
    border: 3px solid black;
    margin-top: 30px;
    margin-left: 40px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#main1{
    height: 85%;
    width: 78%;
    border: 3px solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main > img{
    height: 250px;
    width: 250px;
}
#siema > h1{
    font-size: 50px;
    font-weight: bolder;
}
#siema{
    font-family: "Nunito";
    font-weight: bolder;
}
#kontakt{
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
}
#main2{
    
}